<!-- Main view -->
<div class="view">
  <!-- Grid -->
  <section class="grid grid--loading" #grid>
    <!-- Loader -->
    <img class="grid__loader" src="assets/images/grid.svg" width="60" alt="Loader image" />
    <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
    <div class="grid__sizer"></div>
    <!-- Grid items -->
    <div *ngFor="let product of _product.products" class="grid__item category_{{product.category.id}}" [ngClass]="{'grid__item--size-a': product.featured}">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/{{product.image}}" alt="{{product.title}}" /></div>
        <div class="slider__overlay">
          <div *ngIf="product.sizes"><select><option *ngFor="let size of product.sizes">{{size}}</option></select></div>
          <a class="action-add-to-cart" (click)="product.addToCart()"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
      <div class="meta">
        <h3 class="meta__title">{{product.title}}</h3>
        <span class="meta__brand">{{product.brand}}</span>
        <span class="meta__price">${{product.price}}</span>
      </div>
    </div>
  </section>
  <!-- /grid-->
</div>