<!-- Main view -->
<div class="view">
  <!-- Grid -->
  <section class="grid grid--loading" #grid>
    <!-- Loader -->
    <img class="grid__loader" src="assets/images/grid.svg" width="60" alt="Loader image" />
    <!-- Grid sizer for a fluid Isotope (Masonry) layout -->
    <div class="grid__sizer"></div>
    <!-- Grid items -->
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item grid__item--size-a shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item grid__item--size-a jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item grid__item--size-a dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item grid__item--size-a trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shirts">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shirt.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item grid__item--size-a dresses">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/dress.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item trousers">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/trousers.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item shoes">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/shoe.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
    <div class="grid__item jackets">
      <div class="slider">
        <div class="slider__item"><img src="assets/images/jacket.png" alt="Dummy" /></div>
      </div>
      <div class="meta">
        <h3 class="meta__title">Dummy Product</h3>
        <span class="meta__brand">Dummy Brand</span>
        <span class="meta__price">$99</span>
      </div>
      <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
    </div>
  </section>
  <!-- /grid-->
</div>