/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

body,
html {
	font-size: 100%;
	padding: 0;
}

/* Resets */
*,
*:after,
*:before {
	box-sizing: border-box;
}